<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.psychcoat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/psycoat"
        android:label="@string/app_name"
        android:roundIcon="@drawable/psycoat"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PostDetailActivity"></activity>
        <activity android:name=".MessageActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".HomeScreen"
            android:label="@string/title_activity_homescreen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ForgetPasswordActivity" />
        <activity
            android:name=".popups.TermsAndConditions"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".RegistrationActivity" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>